<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
  <Properties>
    <Property name="pattern">%d %-5p [%t] %c{2.} %X - %m%n</Property>
  </Properties>

  <Appenders>
    <Console name="stdout" target="SYSTEM_OUT">
      <PatternLayout pattern="${pattern}"/>
    </Console>
    <Console name="stderr" target="SYSTEM_ERR">
      <PatternLayout pattern="${pattern}"/>
    </Console>
  </Appenders>

  <Loggers>
    <Root level="info">
      <AppenderRef ref="stdout"/>
    </Root>
  </Loggers>
</Configuration>